<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LG</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecuritBean</display-name>
    <servlet-name>SecuritBean</servlet-name>
    <servlet-class>Security.SecuritBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecuritBean</servlet-name>
    <url-pattern>/SecuritBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionProvider</display-name>
    <servlet-name>ConnectionProvider</servlet-name>
    <servlet-class>Security.ConnectionProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionProvider</servlet-name>
    <url-pattern>/ConnectionProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Security</display-name>
    <servlet-name>Security</servlet-name>
    <servlet-class>Security.Security</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Security</servlet-name>
    <url-pattern>/Security</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>lg.Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout1</display-name>
    <servlet-name>Logout1</servlet-name>
    <servlet-class>lg.Servlet.Logout1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout1</servlet-name>
    <url-pattern>/Logout1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>lg.Servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>lg.Servlet.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequest</display-name>
    <servlet-name>ViewRequest</servlet-name>
    <servlet-class>lg.Servlet.ViewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequest</servlet-name>
    <url-pattern>/ViewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reject</display-name>
    <servlet-name>Reject</servlet-name>
    <servlet-class>lg.Servlet.Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardDetails</display-name>
    <servlet-name>CardDetails</servlet-name>
    <servlet-class>lg.Servlet.CardDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDetails</servlet-name>
    <url-pattern>/CardDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>lg.Servlet.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUser</display-name>
    <servlet-name>ViewUser</servlet-name>
    <servlet-class>lg.Servlet.ViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUser</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCard</display-name>
    <servlet-name>ViewCard</servlet-name>
    <servlet-class>lg.Servlet.ViewCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCard</servlet-name>
    <url-pattern>/ViewCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVisitor</display-name>
    <servlet-name>ViewVisitor</servlet-name>
    <servlet-class>lg.Servlet.ViewVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVisitor</servlet-name>
    <url-pattern>/ViewVisitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>lg.Servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRFID</display-name>
    <servlet-name>AddRFID</servlet-name>
    <servlet-class>lg.Servlet.AddRFID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRFID</servlet-name>
    <url-pattern>/AddRFID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestRegistration</display-name>
    <servlet-name>RequestRegistration</servlet-name>
    <servlet-class>lg.Servlet.RequestRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestRegistration</servlet-name>
    <url-pattern>/RequestRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IN</display-name>
    <servlet-name>IN</servlet-name>
    <servlet-class>lg.Servlet.IN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IN</servlet-name>
    <url-pattern>/IN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OUT</display-name>
    <servlet-name>OUT</servlet-name>
    <servlet-class>lg.Servlet.OUT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OUT</servlet-name>
    <url-pattern>/OUT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Iterator</display-name>
    <servlet-name>Iterator</servlet-name>
    <servlet-class>lg.Servlet.Iterator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Iterator</servlet-name>
    <url-pattern>/Iterator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCard</display-name>
    <servlet-name>DeleteCard</servlet-name>
    <servlet-class>lg.Servlet.DeleteCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCard</servlet-name>
    <url-pattern>/DeleteCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitorIt</display-name>
    <servlet-name>VisitorIt</servlet-name>
    <servlet-class>lg.Servlet.VisitorIt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorIt</servlet-name>
    <url-pattern>/VisitorIt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIt</display-name>
    <servlet-name>UserIt</servlet-name>
    <servlet-class>lg.Servlet.UserIt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIt</servlet-name>
    <url-pattern>/UserIt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>lg.Servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVisitor</display-name>
    <servlet-name>DeleteVisitor</servlet-name>
    <servlet-class>lg.Servlet.DeleteVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVisitor</servlet-name>
    <url-pattern>/DeleteVisitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearch</display-name>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>lg.Servlet.UserSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdate</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>lg.Servlet.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitorSearch</display-name>
    <servlet-name>VisitorSearch</servlet-name>
    <servlet-class>lg.Servlet.VisitorSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorSearch</servlet-name>
    <url-pattern>/VisitorSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitorDisplay</display-name>
    <servlet-name>VisitorDisplay</servlet-name>
    <servlet-class>lg.Servlet.VisitorDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorDisplay</servlet-name>
    <url-pattern>/VisitorDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>lg.Servlet.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardUpdate</display-name>
    <servlet-name>CardUpdate</servlet-name>
    <servlet-class>lg.Servlet.CardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardUpdate</servlet-name>
    <url-pattern>/CardUpdate</url-pattern>
  </servlet-mapping>
</web-app>